<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body >
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand mb-0 h1" href="/">GroceryList </a>
              
              <div class="collapse navbar-collapse" id="navbarNav">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Welcome {{user.username}}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="users/logout">logout</a>
                        </li>
                    </ul>
                {% else %}

                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="users/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="users/register">SignUp</a>
                    </li>
                    </ul>
                {% endif %}
              </div>
            </div>
          </nav>
        
        
          <div class="container mt-5">
            <!-- top -->
            <div class="row" style="padding-top: 2%;">
                {% block header %}
                {% endblock %}
            </div>
            <!-- // top -->
            <!-- Grocery Cards -->
            
            {% block content %}

            {% endblock %}
        </div>
    </body>
</html>
