<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="container mt-5">
            <!-- top -->
            <div class="row">
                {% block header %}
                {% endblock %}
            </div>
            <!-- // top -->
            <!-- Grocery Cards -->
            {% block content %}

            {% endblock %}

            </div>
        </div>
    </body>
</html>
